@import "../../assets/scss/_all.scss";

.DetailsMap {
  height: 180px;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  list-style: none;
  padding: 0px 0px;
  li {
    margin: 12px 0 0 12px;
  }
}

.DetailsHeaders {
  background: $green;
  color: $white;
  height: 60px;
  padding-left: 12px;
  h4 {
    padding-top: 15px;
    font-size: 16px;
    line-height: 1;
  }
  .DetailsSubheader {
    display: block;
    font-size: 12px;
    padding-top: 3px;
  }
}