.AppBar {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 50px;
  padding: 10px 0;
  margin: 0;
  font-size: 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background:#43E895;
  color: #FFFFFF;
}

.AppBar img {
  max-height: 25px;
  margin: 0 15px;
}

.fill {
 height: 25px;
 margin: 0 15px;
}
