.AppBar {
  height: 50px;
  width: 100%;
  background: #43E895;
  color: #FFF;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  z-index: 10001; }
  .AppBar h1 {
    font-size: 17px;
    font-weight: 600; }
  .AppBar .DrawerButton {
    padding-left: 10px;
    width: 22px; }
  .AppBar .MapButton {
    margin-right: 10px;
    width: 28px; }
  .AppBar img {
    height: 22px;
    margin-top: 15px; }
