@import "../../assets/scss/_all.scss";
$side-padding: 10px;
.AppBar{
  height: $appbar-height;
  width: 100%;
  background: $green;
  color: $white;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  z-index: 10001;
  h1 {
    font-size: 17px;
    font-weight: 600;
  }
  .DrawerButton {
    padding-left: $side-padding;
    width: 22px;
  }
  .MapButton {
    margin-right: $side-padding;
    width: 28px;
  }
  img {
    height: 22px;
    margin-top: 15px;
  }
}