// === Fonts ===
$font-stack: "'Avenir Next Demi Bold', Roboto, sans-serif";
// === Media Query Breaks ===
$small-break: 780px;
$large-break: 1400px;

// === Component Constants ===
// AppBar
$appbar-height: 50px;
$appbar-side-padding: 10px;
// Details
$address-max-width: 180px;
// Map
$map-pointer: 25px;
