html,
body {
  font-family: 'Roboto';
  height: 100%;
  margin: 0;
}

.App {
  display: flex;
  margin: 0;
  height: 100%;
  flex-direction: column;
  justify-items: space-between;
  text-align: center;
};

.App > * {
  flex: 1 1 auto;
}