$font-stack: 'Avenir Next Demi Bold', 'Roboto', 'sans-serif';

tml,
body {
  font-family: $font-stack;
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  display: grid;
  margin: 0;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr;
};

.App > * {
  flex: 1 1 auto;
}