@import "../../assets/scss/_main.scss";
@import "../../assets/scss/_mixins.scss";
.App {
  display: grid;
  padding-top: $appbar-height;
  height: 100%;
  grid-template-columns: 1fr;
}

.RestaurantFeed {
  display: grid;
  margin: 0 auto;
  grid-template-columns: 1fr;
  grid-template-rows: 180px;
  width: 100%;
  max-width: 1800px;
  @media screen and (min-width: $small-break) {
    grid-template-columns: 1fr 1fr;
  }
  @media screen and (min-width: $large-break) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  h2, h3 {
    margin: 1.5px 12px;
  }
  a:hover {
    @include opacity-hover
  }
}