.RestaurantFeed {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr; }
  @media screen and (min-width: 600px) {
    .RestaurantFeed {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 150px; } }
  @media screen and (min-width: 1400px) {
    .RestaurantFeed {
      grid-template-columns: 1fr 1fr 1fr; } }
