.RestaurantFeed{
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  z-index: 1;
}

.Restaurant {
  width: 100%;
  max-width: 450px;
  flex-grow: 20;
}

.Restaurant > img {
  height: 150px;
  width: 100%;
}

.DetailPanel {
  z-index: 2;
}