.RestaurantFeed {
  min-width: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 2;
  justify-content: center; }
  .RestaurantFeed .Restaurant {
    display: flex;
    height: 150px; }

@media only screen and (max-width: 600) {
  .Restaurant {
    height: 350px; } }
