$small-break: 600px;
$large-break: 1400px;

.RestaurantFeed {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;

  @media screen and (min-width: $small-break) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 150px;
  }

  @media screen and (min-width: $large-break) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}