@import "../../assets/scss/_all.scss";
.Pointer {
  position: absolute;
  left: -$map-pointer / 2;
  top: -$map-pointer / 2;
  text-align: center;
  color: '#3f51b5';
  font-size: 16px;
  font-weight: 'bold';
  padding: 4px;
  background: darken($green, 20%);
  border-radius: 25px;
  img{
    display: flex;
    align-self: center;
    border-radius: $map-pointer;
    width: $map-pointer;
    height: $map-pointer;
  }
}
